<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/QA/AutoTesting/Color-it">


        <classes>
            <class name="tests.MainTest"></class>
            <class name="tests.CartTest"></class>
            <class name="tests.CheckOutTest"></class>
            <class name="tests.End2End"></class>

        </classes>
    </test>
</suite>